/* 
.text{
    box-shadow: grey;
    color: #363636;
}

.container{
display: flex;
background: black;

}

.card{
    border-radius: 15px 15px 0px 0px;
    opacity: 1;
}

.desc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    float: left;
    width: 25px;
    
    padding: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
/* .row {margin: 0 -10px;

  }
   /* */
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* Style the counter cards */
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  } */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,400&display=swap");

* {
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding: 32px 25px;
  border-bottom: 2px solid #00b158;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  margin-top: -20px;
  background: #ffffff;
  margin-left: 134px;
  width: 133px;
  height: 64px;
}

nav {
  margin-right: 163px;
  background-color: #ffffff;
}

nav ul li {
  background-color: #ffffff;
  display: inline-block;
}

nav ul li a {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #363636;
  font-size: 18px;
  padding: 7px 15px;
  border-radius: 50px;
  margin: 0 3px;
  text-decoration: none;
}

a.active,
a:hover {
  background: #00b158;
  color: #ffffff;
  transition: 0.5s;
}

.checkbtn {
  background-image: url(img/Group\ 22@2x.png);
  cursor: pointer;
  margin-right: 40px;
  color: #ffffff;
  width: 26px;
  height: 20px;
  display: none;
}

.hero-image {
  background-image: url(img/leo-roza-P_z_xlMGuEk-unsplash@2x.png);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-trans {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.hero-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-h1 {
  font-family: "Poppins", SemiBold;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color: #00b158;
  margin-top: 53px;
}

.text-h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #17285a;
  margin-top: 10px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  margin-top: 18px;
  font-weight: 700;
  margin-right: 132px;
  border-radius: 50px;
  width: 187px;
  height: 45px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  cursor: pointer;
} */

* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.py-50 {
  padding: 50px 0px;
}
.nav-wrap {
  background-color: #fff;
  border-bottom: 1px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
.nav-items p:nth-child(1) {
  background-color: #00b158;
  color: #fff;
}

.header {
  padding: 235px 0px;
  background-image: url(./img/roza.png);
  filter: brightness(0, 5);
  background-image: no-repeat;
  background-size: cover;
}
.header-content {
  margin: 0 auto;
  max-width: 718px;
}

.header h1 {
  color: #fff;
  font-size: 44px;
}
.header input {
  max-width: 580px;
  height: 50px;
  border-radius: 25px;
  background-image: url(./img/search.svg);
  filter: brightness(0, 5);
}
.recipes-blk {
  background-color: #f2f2f2;
}
.recipes-blk h2 {
  font-size: 20px;
  font-weight: 400;
  color: #00b158;
}
.section-desc {
  font-size: 38px;
  color: #17285a;
}
.primary-btn {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #00b158;
  border-radius: 25px;
  outline: none;
  border: 0px;
  text-transform: uppercase;
}
.recipe-card-wrap1 {
}
.recipe-card1 {
  width: 343px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
}
.name-content1 {
  display: flex;
  justify-content: space-between;
}
.recipe-card1 .content1 {
  padding: 20px;
}

.recipe-card-wrap2 {
}
.recipe-card2 {
  width: 343px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
}
.name-content2 {
  display: flex;
  justify-content: space-between;
}
.recipe-card2 .content2 {
  padding: 20px;
}
